.LookIn {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    position: absolute;
    display: none;
    left: 50vw;
    top: 0;
    margin: 10px;
    width: 47vw;
    z-index: 500;
}
#LookInContent {
    width: 100%;
    height: 300px;
    border: none;
    resize: none;
    font-family: monospace;
    font-size: 14px;
    background-color: #f9f9f9;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}